<div class="card" style="width: 20rem;">
	{% if instance.image %}
		<a href="{{ instance.get_absolute_url }}">
			<img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.description }} logo">
		</a>
	{% endif %}
	<div class="card-body">
		<h4 class="card-title">{{ instance.description }}</h4>
		<p class="card-text"></p> <!--can add more details here-->
		<a href="{{ instance.get_absolute_url  }}" class="btn btn-primary">View</a>
		<!--<a href="{% url 'goods:detail' slug=instance.slug %}" class="btn btn-warning">URL shortcut</a>-->
	</div>
</div>
