{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block metadescription %}
	Checkout Your Order Detail
{% endblock %}
{% block title %}
	Order Detail - Mini Amazon
{% endblock %}
{% block content %}
<div>
	<p class="text-center my_search_text">You have searched for the order number: <b>"{{query}}"</b></p>
</div>
<div class="container">
	<div class="row mx-auto">
		{% for order in aorder %}
		<div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
			<div class="card text-center" style="min-width: 18rem;">
				<div class="card-body">
					<h4>Order Number is {{ order.ordernum }}</h4>
					<br>
					{% if order.goodid %}
					<h4>Ship Number is {{order.goodid }}</h4>
						{% if order.delivered %}
							<h4>Order delivered.</h4>
						{% else %}
							<h4>Order is on the way.</h4>
						{% endif %}
					{% else %}
						<p>Not ship yet.</p>
					{% endif %}
				</div>
			</div>
		</div>
		{% empty %}
		<div class="row mx-auto"><p class="text-center my_search_text">0 results found.</p></div>
		{% endfor %}
	</div>	
	<div class="mx-auto">	
		<a href="{% url 'shop:allGoodCat' %}" class="btn btn-secondary btn-block my_custom_button">Return to Home</a>
	</div>
</div>
{% endblock %}
