{% extends "base.html" %}

{% block content %}
<h1>Cart</h1>

{%if cart.goods.exists %}
<table class="table">
<thead>
	<tr>		  
		<th>#</th>
		<th>Product Name</th>
	</tr>
</thead>
<tbody>
	{% for good in cart.goods.all %}
	<tr>
		<th scope="row">{{ forloop.counter }}</th>
		<td><a href='{{ good.get_absolute_url }}'>{{ good.description }}</a>
		{% include 'goods/snippets/update-cart.html' with good=good cart=cart in_cart=True %}
		</td>
	</tr>
	{% endfor %}
	<tr>
		<td colspan="2"></td>
		<th scope="row">
	</tr>
</tbody>
</table>

{% else %}
<p class='lead'>Cart is empty</p>
{% endif %}

{% endblock %}
